
.item-img{
  width:400px;
}
.main{
  display: flex;
  justify-content: center;
}
.box{
  border:1px solid black;
  width:500px;
}
.win{
  border:11px solid blue;
  width:500px;
  color:blue;
}

.lose{
  border:11px solid pink;
  width:500px;
  color:pink;
}

.tie{
  border:11px solid yellow;
  width:500px;
  color:yellow;
}
